* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

h1 { 
  font-size: 2em;
  }

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.sidebar {
  width: 100%;

  background-color: lemonchiffon;
}

.sidebar-content {
  padding: 0.5rem;
}

.content {
  height: 100%;
  width: 100%;

  background-color: lightpink;

  box-shadow: 3px 3px 5px 6px #ccc;
}

.canvas-wrapper {
  background: white;
  display: inline-block;
  resize: both;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  resize: both;
  overflow: auto;
  position: relative;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

label { display: block; font-weight: bold;}

@media screen and (min-width: 30em) {
  .wrapper {
    flex-direction: row;
  }

  .sidebar {
    width: 300px;
    height: 100%;
  }
}
